@import 'variables';

//Mixins

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

//Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $family;
}

body {
    background-color: $backgroundColor;
}
//Header & Overlay Container Style
header {
    background-image: url('./images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
    &:hover {
        .header-overlay {
            cursor: pointer;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100%;
            right: 0;
            bottom: 0;
            padding: 0;
            margin: 0;
            background-color: $overlayBackground;
            transition: all 0.3s ease-in-out;
        }
    }
}

h2 {
    color: $basicWhite;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: $commonFour;
}

h3 {
    margin-top: $commonFour;
}

p {
    visibility: hidden;
    margin-top: $commonFour;
    font-style: italic;
}

//Navigation Container Style
nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
    & li {
        list-style: none;
        display: inline-block;
        padding-right: $commonTen;
        padding-left: $commonTen;
        &:active {
            transform: scale(0.96);
        }
        & a {
            color: $basicWhite;
            text-decoration: none;
            padding: 5px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
                text-decoration-color: $textDecorationColor;
            }
            &:active {
                text-decoration: none;
            }
        }
    }
}

.cart a {
    background-color: $cartColor;
    border-radius: $commonEight;
    &:hover {
        background-color: $cartColorHover;
        text-decoration: none;
    }
}

//Images Displayed Container Style
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    & img {
        position: relative;
        cursor: pointer;
        max-width: 420px;
        overflow: hidden;
        border: 1px solid $imageBorderColor;
        border-radius: $commonEight;
        &:hover {
            transform: scale(1.02);
            transition: all 0.3s ease;
        }
        @include mobile() {
            max-width: 320px;
        }
    }
}

.image {
    margin: $commonTwenty;
    position: relative;
    overflow: hidden;
    &:hover {
        p {
            visibility: visible;
        }
    }
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4, 
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8 {
    width: 100%;
    bottom: 78px;
    opacity: 1;
    padding: $commonTen;
}

//Add To Cart Button Style
.addToCart {
    position: absolute;
    text-decoration: none;
    color: $basicBlack;
    background-color: $addToCartHover;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    border-top-left-radius: $commonFour;
    border-top-right-radius: $commonFour;
}